@font-face {
  font-family: PressStart2P;
  src: url('/snake/PressStart2P.ttf') format('truetype');
}

:root {
  --vh: 1vh;

  --board-height: 15;
  --board-width: 15;
  --board-cell-size: 36px; 
  --board-cell-gap: calc(var(--board-cell-size) / 6);

  --color-foreground: #{rgba(black, .86)};
  --color-background: #c5c9c1;
  --color-board-empty: #7a7c75;
  --color-board-snake: #c1c6b6;
  --color-board-dot: #9fa09d;

  --cursor-default: url(/snake/cursor.png), auto;
  --cursor-alt: url(/snake/cursor-white.png), auto;
}

*, *::after, *::before {
  font: inherit;
  cursor: var(--cursor-default);
  user-select: none;
  box-sizing: border-box;
}

html {
  font-family: PressStart2P, monospace;
  font-size: 16px; // the font is 8px-aligned
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  background: var(--color-foreground);
  width: 100vw;
  height: calc(100 * var(--vh));
  overscroll-behavior: contain;
}

#root {
  width: 100%;
  height: calc(100 * var(--vh));
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration-style: dashed;
}

button:not(.basic) {
  background: none;
  outline: none;
  border: .25rem solid var(--color-foreground);
  padding: 0.75rem 1.25rem;
  box-shadow: .25rem .25rem 0 0 var(--color-foreground);
  cursor: var(--cursor-alt);

  &:focus-visible, &:hover {
    background-color: rgba(white, .5);
  }

  &:active {
    background-color: rgba(white, .66);
  }
}

button.basic {
  background: none;
  outline: none;
  border: none;
  padding: 0;
}

.counter {
  display: flex;
  > * + * {
    margin-left: .75em;
  }
}

.screen {
  height: 50rem;
  width: 50rem;
  max-height: calc(90 * var(--vh));
  max-width: 90vw;
  background-color: var(--color-background);
  border: .5rem solid var(--color-foreground);
  box-shadow: 0 0 0 .5rem var(--color-background);
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  > * + * {
    margin-top: 2rem;
  }

  .area {
    max-width: 90%;
    width: 32rem;

    &:not(.horizontal) {
      display: flex;
      flex-direction: column;

      > * + * {
        margin-top: 1.25rem;
      }
    }

    &.horizontal {
      display: flex;
      
      > * + * {
        margin-left: 2rem;
      }
      
      > * { 
        width: 100%;
      }

      // on smaller screens
      @media screen and (max-width: 36rem) {
        flex-direction: column;

        > * + * {
          margin-left: 0;
          margin-top: 2rem;
        }
      }
    }
  }

  .settings {
    display: flex;
    flex-direction: column;
    padding-left: 0.2rem; // eyeballed for visual alignment

    > * { 
      display: flex;
      justify-content: space-between;
    }

    > * + * {
      margin-top: 1rem;
    }
  }

  .logged-in-as {
    display: block;
    text-align: center;
    font-size: 0.5em;

    &.hide {
      opacity: 0;
    }
  }
}

.game {
  display: flex;
  flex-direction: column;

  > * + * {
    margin-top: 1.5rem;
  }
}

.game-over {
  display: flex;
  text-align: center;

  h1 {
    font-size: 1.25em;
  }

  .score {
    font-size: 1.5em;
  }

  .actions {
    display: flex;
    flex-direction: column;

    > * + * {
      margin-top: 1rem;
    }
  }
}

.score-bar {
  border: var(--board-cell-gap) solid var(--color-board-empty);
  color: var(--color-background);
  padding: calc(var(--board-cell-size) / 3) calc(var(--board-cell-size) / 2);
  display: flex;

  margin: 0;

  > * {
    margin: 0;
  }

  > * + * {
    margin-left: 1.5rem;
  }
}

.board {
  display: grid;
  grid-template-rows: repeat(var(--board-height), auto);
  grid-template-columns: repeat(var(--board-width), auto);
  grid-gap: var(--board-cell-gap);
  justify-content: center;
  align-items: center;
  align-content: center;
  border: var(--board-cell-gap) solid var(--color-board-empty);
  padding: var(--board-cell-gap);
}

.cell {
  width: var(--board-cell-size);
  height: var(--board-cell-size);
  background-color: var(--color-board-empty);

  &.snake {
    background-color: var(--color-board-snake);
  }

  &.dot {
    background-color: var(--color-board-dot);
  }
}

.short-instructions {
  font-size: 0.5em;
  color: var(--color-background);
  opacity: 0.66;
  text-align: center;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100 * var(--vh));
  background-color: rgba(black, .33);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0!important;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-background);
  color: var(--color);
  padding: 1.5rem;
  border: .5rem solid var(--color-foreground);
  margin: 0!important;

  width: 30rem;
  height: 30rem;
  max-width: 80vw;
  max-height: calc(80 * var(--vh));

  > * + * {
    margin-top: 1rem;
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.high-scores {
  display: flex;

  > * {
    padding: 1em;
  }

  .nav {
    display: flex;
    flex-direction: column;

    > * + * {
      margin-top: 1.5rem;
    }

    > :last-child {
      margin-top: auto;
    }

    .active {
      background-color: rgba(white, .5);
    }
  }

  .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;

    .options {
      display: flex;

      > * + * {
        margin-left: 3em;
      }

      > * {
        display: flex;

        > * + * {
          margin-left: 1em;
        }
      }
    }
  }

  .main {
    border-left: 0.25rem solid var(--color-foreground);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .list {
    overflow-y: auto;
  }

  table {
    width: 100%;
    text-align: left;
    padding: 0;
    border-collapse: collapse;
    line-height: 1;

    th {
      padding-bottom: 1em;
      position: sticky;
      top: 0;
      background-color: var(--color-background);
    }

    td {
      padding-bottom: .25em;
    }

    .right {
      text-align: right;
      padding-right: 2em;
    }
  }

  @media screen and (max-width: 40rem) {
    font-size: 0.75rem;
    flex-direction: column;

    .nav {
      > * + * {
        margin-left: 0;
        margin-top: 1em!important;
      }
    }

    .title {
      margin-bottom: 1em;
    }

    .name {
      display: none;
    }

    .main {
      border-left: none;
    }
  }
}

.instructions {
  display: flex;
  padding: 2rem;

  flex-direction: column;

  .panels {
    flex: 1;
    display: grid;
    // grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    grid-gap: .5em;

    h2 {
      font-size: 1.5em;
      margin: 0;
      margin-bottom: .5em;
    }

    p {
      margin: 0;
    }

    @media screen and (max-width: 50rem) {
      grid-template-columns: 1fr;
      font-size: 0.666em;
    }
  }

  .actions {
    width: 100%;
    margin-top: 2rem;

    button {
      width: 100%;
    }
  }
}

.log-in {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;

  > * { 
    width: 100%;
  }

  .options {
    flex: 1;
    display: flex;
    flex-direction: column;

    > * + * {
      margin-top: 1rem;
    }
  }

  button {
    width: 100%;
  }
}

.full-screen-loading {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0!important;
  width: 100%;
  height: calc(100 * var(--vh));
  background-color: rgba(black, .8);
  color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;

  > * {
    display: block;
  }

  > * + * {
    margin-top: 1rem;
  }
}
